*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #444;
}

a{
    text-decoration: none;
    transition: .4s;
    color: #444;
}

a:hover{
    color: #dec129;
}